<!doctype html>
<html>
   <head>
      <!-- Built using SRYDEN Lightning UI and TailwindCSS -->
      <!-- This client area is running Heliactyl <%= settings.version %> -->

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/tailwind.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1161650288374063176/1176161499656495194/Renoir119.png?ex=656ddcc1&is=655b67c1&hm=3d10e76e634ad75eae5128044c2fcd6b2031b7afd6cca3a1cb1a5d21dff2f598&">
   </head>
   <body style="font-family: 'Inter'; background: #111415;">
      <div class="nanobar my-class" id="my-id" style="position: fixed;">
        <div class="bar"></div>
      </div>
      <header style="background: #191c1f;" class="bg-gray-800">
         <%- include('./Components/navbar') %>
      </header>

      <!-- Resources, credits -->
      <%- include('./Components/userinfo') %>

      <!-- Tabs -->
      <%- include('./Components/navbar-dashboard') %>

      <!-- Security -->
      <%- include('./Components/security') %>
      
      <!-- END OF HEADER -->
      <!-- END OF HEADER -->
      <!-- END OF HEADER -->
      <div class="mx-auto max-w-7xl px-2 pt-4 lg:px-8">
         <div class="lg:flex mt-8 mb-10 lg:items-center lg:justify-between">
            <div class="min-w-0 flex-1">
               <h2 class="text-2xl font-medium leading-7 text-white sm:truncate sm:text-3xl sm:tracking-tight">Skyport Credentials</h2>
               <p class="text-sm font-light mt-1 text-zinc-400/70">View the credentials to your Pulsar Skyport account.</p>
            </div>
         </div>
         <div>
            <div class="mt-6">
              <dl class="divide-y divide-[#191c1f]">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-white">Username</dt>
                  <dd class="mt-1 text-sm leading-6 text-zinc-400 sm:col-span-2 sm:mt-0"><%= pterodactyl.username %></dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-white">Email</dt>
                  <dd class="mt-1 text-sm leading-6 text-zinc-400 sm:col-span-2 sm:mt-0"><%= pterodactyl.email %></dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-white">Link</dt>
                  <dd class="mt-1 text-sm leading-6 text-zinc-400 sm:col-span-2 sm:mt-0"><a href="../panel" class="text-zinc-500 hover:text-sky-300 transition">Click here to go to Skyport</a></dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm font-medium leading-6 text-white">Password</dt>
                  <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    <ul role="list" class="w-2/4 divide-y rounded-full border border-[#191c1f]">
                      <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                        <div class="flex w-0 flex-1 items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-shrink-0 text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                          </svg>                              
                          <div class="ml-4 flex min-w-0 flex-1 gap-2">
                            <% if (req.session.password) { %> 
                              <span class="truncate font-medium text-white"><%= req.session.password %></span>
                            <% } else { %>
                              <span class="truncate font-medium text-white">*************</span>
                            <% } %>
                          </div>
                        </div>
                        <div class="ml-4 flex-shrink-0">
                          <% if (req.session.password) { %> 
                           <a href="../account" type="button" class="inline-flex items-center rounded-full bg-sky-600/30 px-4 py-1 text-sm font-semibold text-sky-300 transition hover:bg-sky-600/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">
                              Hide
                           </a>
                          <% } else { %>
                           <a href="../regen" type="button" class="inline-flex items-center rounded-full bg-sky-600/30 px-4 py-1 text-sm font-semibold text-sky-300 transition hover:bg-sky-600/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">
                              Show
                           </a>
                          <% } %>
                        </div>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

        <!-- /End replace -->
      </div>
         <div></div>
      </div>
</br></br></br>
   </body>
</html>
<style>
.loadingbar .bar {
        background: #059669;
        border-radius: 4px;
        height: 2px;
        box-shadow: 0 0 10px #059669;
}
</style>